# Project exclude paths
/.gradle/
/Cinema Room Manager/task/build/
/Cinema Room Manager/task/out/
/Cinema Room Manager/task/out/production/classes/
/Topics/Array exceptions/Out of bounds/out/
/Topics/Array exceptions/Out of bounds/out/production/classes/